{% extends "base.html" %}
{% block titulo %}Retiro{% endblock %}
{% block contenido %}
<form method="POST">
  {% if error %}
  <article class="message is-danger">
      <div class="message-body">
          Cantidad invalida
      </div>
  </article>
  {% endif %}
  <div class="field has-addons">
      <div class="control">
          <input class="input is-large" 
          type="number"
          min="0" 
          step="0.01" 
          placeholder="$ 0.00" 
          name="cantidad">
      </div>
      <div class="control">
          <input type="submit" value="&#x1FA99; Retirar" class="button is-info is-large">
      </div>
  </div>
</form>
{% endblock %}
